body {
    background: black;
}

#title {
    color: white;
    font-size: 100%;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-seriF;
    text-decoration: italic;
    text-align: center;

}

.containers {
    display: grid;
    grid-template-columns: auto auto;
}


.container1,
.container2 {
    
    text-align: center;
    background: white;
    
}