body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Comic Sans MS', monospace, sans-serif;
  color: green;
  border-style: dashed;
  padding: 1% 5%;
  border-color: green;
  text-align: center;
    margin-bottom: 12%
}

p {
  color: darkgray;
  font-family: 'Comic Sans MS', monospace, sans-serif;
  font-size: 100%;
  text-align: center;
}

#myForm {
  text-align: center;
}


/* To style the text inside the input field */
input[type="text"] {
    font-size: 16px;
    color: blue;
    font-family: comic sans MS, sans-serif;
}


/* To style the submit button */
input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px; /* Vertical and horizontal padding */
  cursor: pointer; /* Change the cursor when hovering over the button */
}

/* To style the hover state of the submit button */
input[type="submit"]:hover {
  background-color: red;
}
