body {
    background: black;
}

#title {
    color: white;
    font-size: 100%;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-seriF;
    text-decoration: italic;
    position: absolute;
    left: 37%;
    top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 3;
    -webkit-text-stroke: 2px black;

}

#Level_1 {
    color: black;
    background: white;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    font-size: 100%;
    padding: 1%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    position: absolute;
    top: 40%;
    left: 16%;
    z-index: 1;
    width: 13%
}

#preview1 {
    width: 15%;
    position: absolute;
    top: 28.9%;
    left: 16%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#BG {
    z-index: 0;
    width: 10%
}
